public class Tarea31 {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        
    int i = 20;
    
    while (i < 31){
    double numero =  i  ;
    double cuadrado = Math.pow(numero, 2);
    
    System.out.println("el valor de i es: " + i);
    i++;
    
    System.out.println("su elevado al cuadrado es de: " + cuadrado);   
     
     
        // TODO code application logic here
    } 
}
       }
